form {
    display: flex;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.square {
    display: flex;
    flex: 1;
    background-color: black;
    opacity: 0;
    border-color: black;
    border-width: thin;
    border-style: solid;
}

.row {
    display: flex;
    flex: 1;
    border-color: black;
    border-width: thin;
    border-style: solid;
    flex-direction: column;
}